@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
}

a {
  color: #ffffff;
}

/* LAYOUT */

.container {
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 2em;
}

header {
  border-bottom: 7px solid #eee;
}

.header__top {
  display: flex;
  justify-content: space-between;
  margin: 4em 0;
}

.header__bottom {
  margin-bottom: 4em;
  display: flex;
  justify-content: space-between;
}

main {
  margin: 4em 0;
  color: #eee;
  display: flex;
  justify-content: space-between;
}

.left {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right {
  flex: 0 0 50%;
  max-width: 50%;
  font-size: 2rem;
  text-align: right;
}

/* ELEMENTS STYLE */
h1 {
  flex: 0 0 70%;
  max-width: 70%;
  font-size: 3rem;
}

.between {
  flex: 0 0 30%;
  max-width: 30%;
  font-size: 1.4rem;
  text-align: right;
}

.number {
  background: #eee;
  color: #333;
  font-size: 6rem;
  width: 15rem;
  padding: 3rem 0rem;
  text-align: center;
}

.again {
  font-size: 1.4rem;
}

.guess {
  background: none;
  border: 4px solid #eee;
  font-family: inherit;
  color: inherit;
  font-size: 5rem;
  padding: 2.5rem;
  width: 25rem;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.btn {
  border: none;
  background-color: #eee;
  color: #222;
  font-size: 2rem;
  font-family: inherit;
  padding: 2rem 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ccc;
}

.message {
  margin-bottom: 8rem;
  height: 3rem;
}

.label-score {
  margin-bottom: 2rem;
}

footer {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 7px solid #eee;
  font-size: 1.3rem;
}

/* MEDIA QUERIES */

@media screen and (max-width: 740px) {
  .header__top {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    text-align: center;
    margin-bottom: 2em;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .between {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
  }

  main {
    margin-top: 10em;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    align-items: center;
  }

  .right {
    margin-top: 3em;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .header__bottom {
    flex-direction: column;
    align-items: center;
  }

  .again {
    margin-bottom: 2em;
  }
}
